USE [master]
GO
CREATE DATABASE [STAGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STAGE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STAGE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STAGE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STAGE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STAGE]
GO
/****** Object:  Table [dbo].[CUSTOMER_STAGE]    Script Date: 11/12/2024 11:59:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_STAGE](
	[ID] [nvarchar](10) NULL,
	[CUSTOMER_NAME] [nvarchar](50) NULL,
	[GENDER] [bit] NULL,
	[PHONE_NUMBER] [nvarchar](10) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hocsinh_stage]    Script Date: 11/12/2024 11:59:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hocsinh_stage](
	[createdDate] [datetime] NULL,
	[MaHS_NK] [varchar](4) NULL,
	[Hovaten] [nvarchar](20) NULL,
	[ngaysinh] [nvarchar](10) NULL,
	[gioitinh] [nvarchar](3) NULL,
	[malopNK] [varchar](2) NULL,
	[updatedDate] [datetime] NULL
) ON [PRIMARY]
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop_hoc_stage](
	[MaLop_NK] [varchar](2) NULL,
	[tenlop] [varchar](10) NULL,
	[siso] [tinyint] NULL,
	[createdDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
